{# Menu-links for about-subpage #}
<li><a href="#introduction">Introduktion</a></li>
<li><a href="#private_material">Private arkivalier</a></li>
<li><a href="#public_material">Offentlige arkivalier</a></li>
<li><a href="#secret_material">Oplysninger om fortrolige forhold</a></li>
<li><a href="#privacy">Oplysninger om rent private forhold</a></li>
<li><a href="#dispensation">Dispensation til adgang</a></li>
<li><a href="#fosterhome">Børnehjem og andre sociale institutioner</a></li>
<li><a href="#examinations">Eksamensresultater</a></li>
<li><a href="#family_cases">Familieretlige sager</a></li>
<li><a href="#social_security">Folkeregistre</a></li>
<li><a href="#censuses">Folketællinger og skattemandtalslister</a></li>
<li><a href="#date_of_birth">Fødselstidspunkt</a></li>
<li><a href="#citizenship">Indfødsretssager</a></li>
<li><a href="#church_records">Kirkebøger</a></li>
<li><a href="#employee_cases">Personalesager/borgersager</a></li>
<li><a href="#court_cases">Retssager - civilsager</a></li>
<li><a href="#criminal_cases">Retssager – straffesager</a></li>
<li><a href="#testaments">Skifteprotokoller, skiftesager og testamenter</a></li>
<li><a href="#deeds">Tinglyste dokumenter, skøde- og panteprotokoller</a></li>