<h3>Cookies</h3>
<p>På https://www.aarhusarkivet.dk ("siden", hjemmesiden") anvender vi cookies til at understøtte funktionaliteten, samt føre statistik over besøgende på siden. Her kan du læse mere om, hvad cookies er, hvilke cookies vi i udgangspunktet benytter, samt hvad du kan gøre for at bestemme, hvilke cookies der bliver sat. Vi anbefalder også at læse vores privatlivspolitik, som nærmere beskriver, hvilken information vores cookies indsamler, og hvad der sker med denne information.</p>


<h4 id="what-is-a-cookie">Hvad er en cookie?</h4>
<p>En cookie er en tekstfil, der sættes på din computer, når du besøger en hjemmeside. I denne tekstfil gemmer hjemmesiden informationer, som den gerne vil kunne læse, næste gang du besøger siden. Det er ofte informationer, der bruges til statistik og analyse, og er helt ufarlige.</p>
<p>En cookie er en tekstfil, ikke en programfil. Det betyder, at cookien ikke selv kan gøre noget på din computer. Den kan ikke indsamle oplysninger, sprede virus eller på anden måde gøre skade. Indholdet af cookies læses og skrives af de hjemmesider, du som bruger besøger.</p>

<h4 id="our-cookies">Hvilke cookies bruger vi?</h4>
<p>Når du bruger denne hjemmeside sættes først og fremmes en sessionscookie, som er nødvendig for, at siden fungerer ordentligt. Denne cookie videregiver ingen personoplysninger om dig, men er nødvendig for at holde styr på ting som:</p>
<ul>
    <li>brugerindstillinger</li>
    <li>indhold af kurv</li>
    <li>om en bruger er logget ind</li>
    <li>om en brugers status giver adgang til visse ressourcer</li>
</ul>
<p>Hjemmesiden bruger også cookies fra <a href="https://analytics.google.com">Google Analytics</a> til at føre statistik over besøgende på siden.</p>

<h4 id="accepting-cookies">Accept af cookies</h4>
<p>Ved at navigere rundt på hjemmesiden - uden at blokere for sidens cookies - accepterer du umiddelbart, at vi bruger ovennævnte cookies. Du kan dog altid ændre mening og slette præcis de cookies, som hjemmesiden sætter, eller helt blokere for alle cookies I din browser.</p>

<h4 id="deleting-cookies">Sådan sletter cookies</h4>
<p>Hvis du ønsker at slette en eller flere af de cookies, som denne hjemmeside har sat, gøres det inde fra din browsers cookie-indstillinger. Hvis du ikke ved, hvordan det gøres, kan du læse mere udførlige vejledninger til sletning af cookies på <a href="http://minecookies.org/cookiehandtering">minecookies.org/cookiehandtering</a>.</p>

<h4 id="blocking-cookies">Sådan undgår du fremtidige cookies</h4>
<p>Ønsker du permanent at blokere denne hjemmesides cookies, eller helt sætte din browser op til at blokere for alle cookies, gøres det inde fra din browsers cookie-indstillinger.
Hvis du ikke kan finde de relevante indstillinger, kan du læse mere udførlige vejledninger til blokering af cookies på <a href="http://minecookies.org/cookiehandtering">minecookies.org/cookiehandtering</a></p>
<p>Hvis du sætter din browser op til at afvise cookies, skal du dog være opmærksom på, at der kan være funktioner på denne og andre hjemmesider, der ikke virker.</p>

<h4 id="contact-us">Hvis du vil vide mere?</h4>
<p>Hvis du vil vide mere om denne sides brug af cookies, kan du sende dit spørgsmål pr. mail til <a href="mailto:stadsarkiv@aarhus.dk">stadsarkiv@aarhus.dk</a></p>
<p>Denne hjemmeside drives af Aarhus Stadsarkiv, Hack Kampmanns Plads 2, 8000 Aarhus C.</p>
