{% extends '_base.html' %}
{% set title = "Aarhus Byråds arkiv" %}

{% block content %}
<div>
    <img class="show-for-large" src="/static/img/Byraadssager_AA_header_1920px.jpg">
</div>

<div class="grid-x grid-padding-x grid-padding-y homepage-list" style="margin-top:2rem;font-size:90%">

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <a href="/collections/48">
                <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1867-1940_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1867-1940_420px.jpg, large]">
            </a>
            <div class="" style="padding-top:1em;">
                <p>Den ældste del af Aarhus Byråds arkiv (1867-1940) består af referater fra byrådets forhandlinger vedr. alle sager, som har været på byrådets dagsorden</p>
                <p>Både den åbne og den lukkede del af mødereferaterne er digitaliseret af Aarhus Stadsarkiv og er i udgangspunktet frit tilgængelig.</p>
                <p><a href="/collections/48">Læs mere om den ældste del af byrådsarkivet her.</a></p>
            </div>
        </div>
    </div>

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1940-1996_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1940-1996_420px.jpg, large]">
            <div class="" style="padding-top:1em;">
                <p>Sagregistrene til de trykte byrådsforhandlinger for årene 1940-1994 (der mangler et register for årene 1994-1996) er tilgængelige online i en redigeret udgave. Stadsarkivet har fjernet alle henvisninger til sager, som indeholder personoplysninger, og andre sager, der ikke umiddelbart er tilgængelige.</p>
                <p>Sagregistrene fungerer som indgang til referaterne fra byrådsmøderne via sidehenvisninger til de trykte byrådsforhandlinger.</p>
                <p>Registrene er delt i 3 digitale publikationer, som dækker årene 1940-50, 1950-66 og 1966-1994:</p>
                <a href="https://www.aarhusarkivet.dk/records/000438147" style="display:inline-block">Sagregister til Aarhus Byraads Forhandlinger, 1. april 1940 til 31. marts 1950</a>
                <a href="https://www.aarhusarkivet.dk/records/000441263" style="display:inline-block">Sagregister til Aarhus Byraads Forhandlinger, 1. april 1950 - 31. marts 1966</a>
                <a href="https://www.aarhusarkivet.dk/records/000493864" style="display:inline-block">Sagregister til Aarhus Byraads Forhandlinger, 1. april 1966 - 31. marts 1976</a>
                <a href="https://www.aarhusarkivet.dk/records/000495137" style="display:inline-block">Sagregister til Aarhus Byraads Forhandlinger, 1. april 1976 - 31. december 1988</a>
                <a href="https://www.aarhusarkivet.dk/records/000495138" style="display:inline-block">Sagregister til Aarhus Byraads Forhandlinger, 1. januar 1989 - 31. december 1994</a>
            </div>
        </div>
    </div>

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <a href="https://byraadsarkivet.aarhus.dk" target="blank">
                <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1997-_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1997-_420px.jpg, large]">
            </a>
            <div class="" style="padding-top:1em;">
                <p>Fra 1997 og frem indeholder byrådsarkivet både mødereferater og digitalt sagsmateriale vedr. åbne sager, der har været behandlet på møder i enten Aarhus Byråd, Magistraten og de politiske udvalg.</p>
                <p>Denne nyeste del af byrådsarkivet er tilgængelig på sin egen hjemmeside, hvor den en gang om året opdateret med de seneste mødereferater, sager og dokumenter.</p>
                <p><a href="https://byraadsarkivet.aarhus.dk">Den nyeste del af byrådsarkivet kan du finde her.</a></p>
            </div>
        </div>          
    </div>

</div>

{% endblock content %}
