{% extends '_base.html' %}
{% set title = "Aarhus Byråds arkiv" %}

{% block content %}
<div>
    <img class="show-for-large" src="/static/img/Byraadssager_AA_header_1920px.jpg">
</div>

<div class="grid-x grid-padding-x grid-padding-y homepage-list" style="margin-top:2rem;font-size:90%">

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <a href="/collections/48">
                <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1867-1940_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1867-1940_420px.jpg, large]">
            </a>
            <div class="" style="padding-top:1em;">
                <p>Den ældste del af Aarhus Byråds arkiv (1867-1940) består af referater fra byrådets forhandlinger vedr. alle sager, som har været på byrådets dagsorden</p>
                <p>Både den åbne og den lukkede del af mødereferaterne er digitaliseret af Aarhus Stadsarkiv og er i udgangspunktet frit tilgængelig.</p>
                <p><a href="/collections/48">Læs mere om den ældste del af byrådsarkivet her.</a></p>
            </div>
        </div>
    </div>

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1941-1996_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1941-1996_420px.jpg, large]">
            <div class="" style="padding-top:1em;">
                <p>Aarhus Byråds arkiv fra 1941 til 1996 er endnu ikke tilgængeligt online.</p>
                <p>Mange mødereferater fra perioden indeholder både åbne og lukkede sager, og der forestår derfor et større arbejde med at skille mødereferaterne ad, så de åbne dele kan blive publiceret.</p>
                <p>Ønsker du at bruge byrådsarkivet for denne periode, kræver det fysisk fremmøde på Stadsarkivets læsesal. Her er byrådets forhandlinger tilgængelige i Stadsarkivets bibliotek.</p>
                <p>Man skal ansøge om tilladelse til at se sager behandlet på den lukkede dagsorden, da de typisk indeholder oplysninger, som ikke er umiddelbart tilgængelige.</p>
            </div>
        </div>
    </div>

    <div class="cell smedium-6 large-4">
        <div class="cart">
            <a href="https://byraadsarkivet.aarhus.dk" target="blank">
                <img data-interchange="[static\img\Byraad_AA_byraadsarkivet_1997-_420px.jpg, small], [static\img\Byraad_AA_byraadsarkivet_1997-_420px.jpg, large]">
            </a>
            <div class="" style="padding-top:1em;">
                <p>Fra 1997 og frem indeholder byrådsarkivet både mødereferater og digitalt sagsmateriale vedr. åbne sager, der har været behandlet på møder i enten Aarhus Byråd, Magistraten og de politiske udvalg.</p>
                <p>Denne nyeste del af byrådsarkivet er tilgængelig på sin egen hjemmeside, hvor den en gang om året opdateret med de seneste mødereferater, sager og dokumenter.</p>
                <p><a href="https://byraadsarkivet.aarhus.dk">Den nyeste del af byrådsarkivet kan du finde her.</a></p>
            </div>
        </div>          
    </div>

</div>

{% endblock content %}
