<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FastAPI</title>
</head>

<body>
    <div class="menu">
        {% for item in openaws_menu %}
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if not loop.last %} | {% endif %}        
        {% endfor %}
    
    </div>

    <div class="content">
        {% block content %}{% endblock content %}
    </div>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>

</body>

</html>